node_modules/
package-lock.json
.vscode/
.env
.env.*
!.env.example

devconfig/
devdatabase/
plugins/*
!plugins/example-plugin/
!plugins/**/
!plugins/**/*
plugins/*/config.json
database/openticket.sqlite
dist/

otdebug.txt
runtime/**/*.sqlite-shm
runtime/**/*.sqlite-wal

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
**/.DS_Store

.docs/*
!.docs/createDocs.js
!.docs/mergeTranslations.js
!.docs/typedoc-config.json
