<%
  const iconHref = brand && brand.favicon
    ? (brand.favicon.startsWith("http") ? brand.favicon : assetPath(brand.favicon))
    : null
%>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= pageTitle %></title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<% if (iconHref) { %>
  <link rel="icon" type="image/png" href="<%= iconHref %>">
<% } %>
<meta name="theme-color" content="<%= brand.primaryColor %>">
<link rel="stylesheet" href="<%= assetPath('global.css') %>">
